//Original Colors
$main-color: $main-color;
$background-color: $color-2;
$font-color: $color-1;
$navbar-color: $color-3;

//Button
$buttonBackgroundColor: $color-4;

//Button:hover
$buttonHoverColor: $color-8;

//Button:active
$buttonActiveColor: $color-7;
$buttonActiveBackground: $color-8;
$buttonColorActiveBorder: $color-8;

//Scrollbar
$scrollBarColor: $color-5;

//Links
$linkVisitedColor: $color-7;
$linkActiveColor: $color-8;

//Cart
$cartWidgetFontColor: $color-1;
$itemInCartBackgroundColor: $color-6;
$itemInCartBorderColor: $color-6;
$menuCartBackgroundColor: $color-6;
$menuCartPriceFontColor: $color-1;
$itemTitleDetailFontColor: $color-1;

//Item
$itemBorderColor: $color-6;
$itemBackgroundColor: $color-3;
$itemStockBackgroundColor: $color-6;
$itemStockFontColor: $main-color;
$imageBorderColor: $color-6;
$detailFontColor: $color-1;
$countNumberColor: $color-1;

//Badge
$gameBadgePriceColor: $color-6;
$gameBadgePriceBackground: $main-color;
$gameBadgeGenreColor:$main-color;
$gameBadgeGenreBackground:$color-6;

//Shadow
$shadowColor: $color-8;