//Fonts
$mainFont: Audiowide, sans-serif;

//Color Lemon
$main-color: #cce00e;
$color-1: #ffff9e;
$color-2: #202124;
$color-3: #171717;
$color-4: #212529;
$color-5: #292931;
$color-6: #1f1f27;
$color-7: white;
$color-8: black;

// //Colors Blue
// $main-color: #008efa;
// $color-1: #0069c1;
// $color-2: #121c24;
// $color-3: #121b22;
// $color-4: #0f344b;
// $color-5: #2e353a;
// $color-6: #192227;
// $color-7: white;
// $color-8: black;

// Colors Orange
$main-color: #FF6C37;
$color-1: #a6a6a6;
$color-2: #212121;
$color-3: #262626;
$color-4: #252525;
$color-5: #2b2b34;
$color-6: #181818;
$color-7: white;
$color-8: black;